<div class="row">
    <div class="col">
        <input type="text" 
                class="form-control" 
                placeholder="Search..."
                [(ngModel)]="filterBy"/>
    </div>
    <div>
        Text Typed: <span>{{filterBy}}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="checkbox" 
        class="form-check-input"
        [(ngModel)] = "showImages"/> {{showImages}}
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div *ngFor="let product of filteredProducts">    
        <!-- {{product.id}} -->
        <div class="card" style="width: 18rem;">
            <div class="d-flex justify-content-center" *ngIf="showImages">
                <img [src]="product.image" 
                    class="card-img-top" 
                    [alt]="product.name"
                    [title]="'mystore'"
                    [ngStyle]="imgStyles">
                    <!-- [style.width.px]="200"
                    [style.height.px]="200" -->
            </div>
            <div class="card-body">
                <h5 class="card-title" 
                [ngStyle]="titleStyles"
                [routerLink]="['/products',product.id]"
                [style.cursor]="'pointer'"
                >{{product.name | uppercase}}</h5>
              <p class="card-text" [style.color]='"blueviolet"'>{{product.description | slice : 0: 50}}</p>
              <strong appHighlight [style.fontSize.em]="2">{{product.price | currency : 'INR' : 'symbol' : '1.1-3'}}</strong>
              <p>{{product.publishedDate | date : 'dd - MMMM - yy, EEEE'}}</p>
              <p appHighlight>{{product.code | convertToSpace : " => "}}</p>
              <p *ngIf="product.price >= 60000; then discount1 else discount2"></p>
              <ng-template #discount1>
                <p [style.color]="'red'">
                    Discount of Flat 20%
                    
                </p>
              </ng-template>
              <ng-template #discount2>
                <p [style.color]="'red'">
                    Discount of Flat 10%
                </p>
              </ng-template>
              <app-star [rating]="product.rating"></app-star>
              <div>
                <a class="btn btn-primary" (click)="addToCart($event,product)">Add To Cart</a>
              </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col text-danger">
        {{errorMessage}}
    </div>
</div>